body{
    height: 100vh;
}

.myd-flex{
    display: flex;
}

.w-10{
    width: 15%;
}

.myh-100{
    height: 3rem;
}

.mynone{
    display: none;
}



/* header */

.mycontainerheader{
    width: 100%;
    height: 4rem;
    border: 1px solid black;
}

.mybg-gray{
    background-color: lightgray;
}

/* sidebar */

.mycontainerside{
    width: 10rem;
    height: calc(100vh - 4rem);
    border: 1px solid black;
}

.mycontainermain{
    width: calc(100% - 10rem);
    height: calc(100vh - 4rem);
    border: 1px solid black;
}

.mysideicons{
    width: 7rem;
    height: 3rem;
    text-align: center;
    margin: 0 1.5rem;
}

/* main */

.mycontainermainsmall{
    width: 100%;
    height: 5rem;
    border: 1px solid black;
}

.mycontainermainbig{
    width: 100%;
    height: calc(100% - 5rem);
    border: 1px solid black;
}

.myclassicon{
    width: 1.5rem;
    height: auto;
}

/* media queries */

@media screen and (max-width: 768px) {
    .mycontainerside{
        width: 4rem;
    }

    .mycontainermain{
        width: calc(100% - 4rem);
    }
    
    .mynone{
        display: block;
    }

    .hide{
        display: none;
    }

    .mysideicons{
        width: 3rem;
        margin: 0 0.5rem;
    }
}