body{
    height: 100vh;
}

.myd-flex{
    display: flex;
}

.w-10{
    width: 15%;
}

.myh-100{
    height: 3rem;
}

.mynone{
    display: none;
}



/* header */

.mycontainerheader{
    width: 100%;
    height: 4rem;
    border: 1px solid black;
}

.mybg-gray{
    background-color: lightgray;
}

/* sidebar */

.mycontainerside{
    width: 10rem;
    height: calc(100vh - 4rem);
    border: 1px solid black;
    background-image: url(img/sidebar-bg.png);
    background-color: #051E34;
    color: white;
}

.mycontainermain{
    width: calc(100% - 10rem);
    height: calc(100vh - 4rem);
    /* border: 1px solid black; */
    overflow: auto;
}

.mysideicons{
    width: 7rem;
    height: 3rem;
    text-align: center;
    margin: 0 1.5rem;
}

/* main */

.mycontainermainsmall{
    width: 100%;
    padding: 0.5rem;
    /* height: 5rem; */
    border: 1px solid black;
}

#offcanvasRight{
    width: 40%;
}

.mycontainermainbig{
    width: 100%;
    padding: 1rem;
    /* height: 100%; */
    /* height: calc(100% - 5rem); */
    /* border: 1px solid black; */
}

.myclassicon{
    width: 1.5rem;
    height: auto;
}

.badge{
    padding-bottom: 0.4rem;
}

.fa-pen{
    /* font-size: 0.8rem; */
}

/* media queries */

@media screen and (max-width: 768px) {
    .mycontainerside{
        width: 4rem;
    }

    .mycontainermain{
        width: calc(100% - 4rem);
    }
    
    .mynone{
        display: inline-block;
    }

    .hide{
        display: none;
    }

    .mysideicons{
        width: 3rem;
        margin: 0 0.5rem;
    }

    #offcanvasRight{
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    #offcanvasRight{
        width: 100%;
    }
}